<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>หน้าจอปรับปรุงข้อมูล -- ระบบจัดการข้อมูลศิษย์เก่า</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</head>

<body style="font-family: 'IBM Plex Sans Thai', sans-serif;">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ระบบสารสนเทศศิษย์เก่า</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="login.html">หน้าแรก</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">เกี่ยวกับเรา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">การจัดการข้อมูลศิษย์เก่า</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ติอต่อเรา</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">คำถามที่พบบ่อย</a>
                    </li>
                </ul>

            </div>
        </div>

    </nav>
    <div class="container">
        <div class="row text-center ">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        เกี่ยวกับเรา
                    </div>
                    <div class="card-body">
                        <div class="row ">

                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <br>มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
                                        เดิมเป็นสถานีวิจัยและสถานที่ฝึกงานเพื่อการศึกษาและวิจัยของนิสิตมหาวิทยาลัยเกษตรศาสตร์
                                        วิทยาเขตบางเขน และในปี พ.ศ. 2532 มหาวิทยาลัยเกษตรศาสตร์ได้เสนอ
                                        “โครงการจัดตั้งวิทยาเขตศรีราชา”ต่อทบวงมหาวิทยาลัย
                                        โดยมีวัตถุประสงค์เพื่อปรับเปลี่ยนเป็นสถาบันจัดการเรียนการสอนในสาขาวิชาที่รองรับการขยายตัวทางเศรษฐกิจ
                                        และการพัฒนากำลังคนในเขตภูมิภาคชายฝั่งทะเลตะวันออก
                                        ตลอดจนเป็นการขยายโอกาสทางการศึกษาในเขตภูมิภาคตะวันออก
                                        ทั้งนี้สามารถสรุปการพัฒนาวิทยาเขตศรีราชา ตั้งแต่ปี พ.ศ. 2533 ถึงปีปัจจุบัน
                                        แบ่งได้เป็น 4 ระยะ ดังนี้ </br>
                                        <br>ระยะที่ 1 (พ.ศ. 2533 – 2536)
                                        มหาวิทยาลัยเกษตรศาสตร์
                                        ได้รับอนุมัติในหลักการจากทบวงมหาวิทยาลัยให้เปลี่ยนสถานะจาก “สถานีวิจัยศรีราชา”
                                        เป็น “วิทยาลัยชุมชนศรีราชา”
                                        เพื่อให้บริการการศึกษาในสาขาวิชาที่เกี่ยวข้องและเป็นประโยชน์แก่ชุมชน
                                        การบริการห้องสมุด ศูนย์วัฒนธรรมชุมชนสัมพันธ์ ศูนย์สุขภาพและนันทนาการ
                                        โดยได้จัดตั้งสำนักการศึกษาต่อเนื่องเพื่อจัดโครงการฝึกอบรมหลักสูตรต่าง ๆ
                                        ตามความต้องการของชุมชน
                                        และจัดตั้งสถาบันค้นคว้าเพื่อพัฒนาพื้นที่ชายฝั่งทะเลภาคตะวันออก
                                        เพื่อทำการค้นคว้าวิจัยในสาขาที่เกี่ยวข้องกับโครงการพัฒนาพื้นที่ชายฝั่งทะเลภาคตะวันออก
                                        โดยเฉพาะทางด้านสิ่งแวดล้อมและนิเวศวิทยา</br>
                                        <br>ระยะที่ 2 (พ.ศ. 2537 - 2541)
                                        ต่อมามหาวิทยาลัยเกษตรศาสตร์
                                        พัฒนาการให้บริการวิชาการแก่ชุมชนของวิทยาลัยชุมชนศรีราชาให้สามารถทำการผลิตบัณฑิตได้
                                        จึงมีนโยบายปรับเปลี่ยนการบริหารงานและรูปแบบการดำเนินงานของ
                                        "วิทยาลัยชุมชนศรีราชา" ให้เป็น "โครงการจัดตั้งวิทยาเขตศรีราชา"
                                        เพื่อทำหน้าที่ผลิตบัณฑิตและพัฒนาทรัพยากรมนุษย์ระดับสูงเพื่อรองรับการพัฒนาพื้นที่ชายฝั่งทะเลภาคตะวันออก
                                        โดยมีภารกิจหลักในการผลิตบัณฑิตระดับปริญญาตรีขึ้นไป
                                        และจัดแบ่งโครงสร้างประกอบด้วยหน่วยงานภายใน 5 หน่วยงาน ได้แก่
                                        โครงการจัดตั้งคณะวิทยาการจัดการ เพื่อผลิตบัณฑิตทางด้านการบริหารและจัดการธุรกิจ
                                        เริ่มรับนิสิตตั้งแต่ปีการศึกษา 2539
                                        โครงการจัดตั้งคณะเทคโนโลยีอุตสาหกรรม เพื่อผลิตบัณฑิตทางด้านวิศวกรรมศาสตร์
                                        เทคโนโลยีอุตสาหกรรม เริ่มรับนิสิตตั้งแต่ปีการศึกษา 2540
                                        โครงการจัดตั้งคณะทรัพยากรและสิ่งแวดล้อม เพื่อผลิตบัณฑิตทางด้านวิทยาศาสตร์
                                        เทคโนโลยีและการจัดการสิ่งแวดล้อม เริ่มรับนิสิตตั้งแต่ปีการศึกษา 2540
                                        โครงการจัดตั้งสำนักงานวิทยาเขต
                                        เพื่อทำหน้าที่เกี่ยวกับการบริหารธุรการและสนับสนุนการเรียนการสอน
                                        โครงการจัดตั้งสำนักบริการวิทยาการ เพื่อทำหน้าที่เกี่ยวกับ
                                        การบริการการเรียนการสอน การบริการห้องปฏิบัติการ การบริการวิชาการแก่ชุมชน
                                        และการส่งเสริมการวิจัย</br>
                                        <br>ระยะที่ 3 (พ.ศ. 2542 - 2546)
                                        สภามหาวิทยาลัยเกษตรศาสตร์ ในคราวประชุมครั้งที่ 3/2542 เมื่อวันที่ 15 มีนาคม 2542
                                        ได้มีมติอนุมัติ กำหนดฐานะจาก "โครงการจัดตั้งวิทยาเขตศรีราชา" เป็น
                                        "วิทยาเขตศรีราชา" ตามประกาศสภามหาวิทยาลัยเกษตรศาสตร์
                                        เรื่องการกำหนดเขตการศึกษาเป็นวิทยาเขต ประกาศ ณ วันที่ 16 เมษายน 2542
                                        เพื่อประกาศเป็นเขตการเรียนการสอนของมหาวิทยาลัย
                                        โดยมีวัตถุประสงค์ของการจัดตั้งวิทยาเขตศรีราชา ดังนี้
                                        เพื่อเป็นแหล่งให้การศึกษาที่สามารถผลิตกำลังคนระดับสูง
                                        และพัฒนาคุณภาพกำลังคนให้ได้มาตรฐานตอบสนองเป้าหมายการพัฒนาเศรษฐกิจและสังคม
                                        ตามแผนการพัฒนาพื้นที่ชายฝั่งทะเลภาคตะวันออกและของประเทศโดยรวม
                                        เพื่อเป็นแหล่งให้บริการทางวิชาการแก่สังคม โดยการจัดฝึกอบรม การพัฒนาวิชาชีพ
                                        และการให้คำปรึกษาทางวิชาการกับหน่วยงานภาคเอกชนและภาครัฐบาลทั้งอุตสาหกรรม การผลิต
                                        อุตสาหกรรมบริการ พาณิชยกรรม การขนส่งและการเกษตร
                                        รวมทั้งอนุรักษ์และฟื้นฟูทรัพยากรธรรมชาติและสิ่งแวดล้อม
                                        เพื่อเป็นแหล่งศึกษาค้นคว้าและวิจัยสาขาต่างๆ ทั้งวิทยาศาสตร์เทคโนโลยีการผลิต
                                        การขนส่ง การจัดการ และการบริการ
                                        ที่มีส่วนเกี่ยวข้องกับการพัฒนาภูมิภาคและการพัฒนาประเทศ
                                        เพื่อเป็นแหล่งรวบรวมและให้บริการข้อมูลข่าวสาร
                                        การจัดระบบข้อมูลและสารสนเทศเพื่อการศึกษา การพัฒนาทางวิทยาศาสตร์เทคโนโลยี
                                        การพัฒนาอุตสาหกรรม การพาณิชยกรรม การค้า การขนส่งและการเกษตร
                                        ตลอดจนทรัพยากรธรรมชาติและสิ่งแวดล้อมที่มีเครือข่ายการเชื่อมโยงทั่วโลก
                                        เพื่อเป็นแหล่งส่งเสริมและฟื้นฟู ให้เกิดความสำนึกและรับผิดชอบที่ดีต่อสังคม
                                        ตลอดจนการอนุรักษ์และบำรุงทรัพยากรธรรมชาติและสิ่งแวดล้อมทั้งในระดับภูมิภาคและระดับชาติ</br>
                                        <br>ต่อมาในคราวประชุมสภามหาวิทยาลัยเกษตรศาสตร์ครั้งที่ 12/2542 เมื่อวันที่ 20
                                        ธันวาคม 2542 ได้ อนุมัติให้มีการแบ่งส่วนราชการภายในวิทยาเขต ประกอบด้วย 5
                                        หน่วยงานหลัก ได้แก่ คณะทรัพยากรและสิ่งแวดล้อม คณะเทคโนโลยีอุตสาหกรรม
                                        คณะวิทยาการจัดการ สำนักงานวิทยาเขต และสำนักบริการวิทยาการ
                                        ตามประกาศสภามหาวิทยาลัยเกษตรศาสตร์ เรื่องจัดตั้งคณะและสำนักในวิทยาเขตศรีราชา
                                        ประกาศ ณ วันที่ 29 ธันวาคม 2542 และคราวประชุมสภามหาวิทยาลัยเกษตรศาสตร์ ครั้งที่
                                        11/2543 เมื่อวันที่ 20 พฤศจิกายน 2543
                                        อนุมัติให้ปรับเปลี่ยนชื่อคณะเทคโนโลยีอุตสาหกรรม
                                        เป็นคณะวิศวกรรมศาสตร์ศรีราชาตามประกาศสภามหาวิทยาลัยเกษตรศาสตร์
                                        เรื่องการเปลี่ยนชื่อคณะในวิทยาเขตศรีราชา ประกาศ ณ วันที่ 28 พฤศจิกายน 2543 </br>
                                        <br>ระยะที่ 4 (พ.ศ. 2547 - ปัจจุบัน)
                                        - การประชุมสภามหาวิทยาลัยเกษตรศาสตร์ ครั้งที่ 9/2547 เมื่อวันที่ 13 กันยายน 2547
                                        อนุมัติให้จัดตั้งบัณฑิตศึกษาสถาน ให้เป็นหน่วยงานภายในที่มีสถานภาพเทียบเท่าคณะ
                                        ทำหน้าที่จัดการเรียนการสอนในระดับที่ให้ปริญญาและประกาศนียบัตรบัณฑิตในหลักสูตรสหวิทยาการที่ตอบสนองการพัฒนาเขตเศรษฐกิจบริเวณชายฝั่งทะเลตะวันออก
                                        และเป็นหน่วยงานกลางในการให้บริการด้านการเรียนการสอนระดับบัณฑิตศึกษาในสาขาวิชาต่าง
                                        ๆ โดยมีลักษณะการดำเนินงานเป็นทั้ง Graduate School และ Cluster of Knowledge
                                        ในลักษณะ Integrated Program ตามประกาศสภามหาวิทยาลัยเกษตรศาสตร์
                                        เรื่องจัดตั้งบัณฑิตศึกษาสถาน วิทยาเขตศรีราชา ประกาศ ณ วันที่ 15 กันยายน 2547
                                        - การประชุมสภามหาวิทยาลัยเกษตรศาสตร์ ครั้งที่ 1/2548 เมื่อวันที่ 17 มกราคม 2548
                                        อนุมัติให้ปรับเปลี่ยนชื่อสำนักบริการวิทยาการ เป็นสำนักวิทยบริการ
                                        โดยมีการแบ่งหน่วยงานภายในเป็น 4 หน่วยงาน ได้แก่ สำนักงานเลขานุการ
                                        ฝ่ายเทคโนโลยีทางการศึกษา ฝ่ายบริการคอมพิวเตอร์ และฝ่ายห้องสมุด
                                        - การประชุมสภามหาวิทยาลัยเกษตรศาสตร์ ครั้งที่ 4/2548 เมื่อวันที่ 24 เมษายน 2549
                                        อนุมัติให้ปรับโครงสร้างของสำนักงานวิทยาเขตศรีราชาใหม่ ประกอบด้วย 5 ฝ่าย ได้แก่
                                        ฝ่ายบริหาร ฝ่ายการศึกษา ฝ่ายกิจการนิสิต ฝ่ายอาคารสถานที่และยานพาหนะ
                                        และฝ่ายทรัพย์สินและสิทธิประโยชน์ ตามลำดับ
                                        - การประชุมสภามหาวิทยาลัยครั้งที่ 11/2549 เมื่อวันที่ 27 พฤศจิกายน พ.ศ. 2549
                                        อนุมัติให้จัดตั้งวิทยาลัยพาณิชยนาวีนานาชาติ
                                        เป็นหน่วยงานที่มีฐานะเทียบเท่าคณะสังกัด มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
                                        และให้แบ่งหน่วยงานภายในออกเป็น 3 ฝ่าย ได้แก่ ฝ่ายบริหารและธุรการทั่วไป
                                        ฝ่ายบริหารการศึกษา และฝ่ายวิจัยและบริการวิชาการ
                                        ทั้งนี้ให้มีหน้าที่รับผิดชอบงานด้านการศึกษา วิจัย
                                        ผลิตและพัฒนากำลังคนด้านพาณิชยนาวี รวมทั้งเป็นศูนย์ประสานงานกับองค์กรต่าง ๆ
                                        ทั้งในและต่างประเทศ เพื่อจัดการพาณิชยนาวีทั้งระบบของประเทศให้เข้าสู่มาตรฐานสากล
                                        - การประชุมครั้งที่ 9/2550 เมื่อวันที่ 17 กันยายน 2550
                                        สภามหาวิทยาลัยเกษตรศาสตร์ได้อนุมัติให้มีการเปลี่ยนชื่อหน่วยงานบัณฑิตศึกษาสถานเป็น
                                        วิทยาลัยบัณฑิตศึกษา ศรีราชา (College of Graduate Studies at Si Racha)
                                        โดยมีการแบ่งส่วนหน่วยงานภายในออกเป็นสำนักงานคณบดี ฝ่ายบริการการศึกษา
                                        และฝ่ายจัดการศึกษา ซึ่งมีผลตั้งแต่วันที่ 24 กันยายน 2550 เป็นต้นไป
                                        - การประชุมครั้งที่ 12/2553 เมื่อวันที่ 27 ธันวาคม พ.ศ. 2553
                                        ได้เปลี่ยนชื่อวิทยาลัยบัณฑิตศึกษา ศรีราชา เป็น คณะเศรษฐศาสตร์ ศรีราชา
                                        และปรับโครงสร้างการแบ่งส่วนราชการภายในคณะใหม่ดังนี้ สำนักงานเลขานุการ
                                        ส่วนงานจัดการศึกษา และศูนย์วิจัยและบริการวิชาการ ประกาศ ณ วันที่ 3 กุมภาพันธ์
                                        2554
                                        - การประชุมครั้งที่ 10/2554 เมื่อวันที่ 26 ธันวาคม พ.ศ. 2554
                                        ได้เปลี่ยนชื่อคณะทรัพยากรและสิ่งแวดล้อม เป็น คณะวิทยาศาสตร์ ศรีราชา
                                        และปรับโครงสร้างการแบ่งส่วนราชการภายในคณะวิทยาศาสตร์ ศรีราชา ใหม่ได้แก่
                                        สำนักงานเลขานุการ สาขาวิชาวิทยาศาสตร์สิ่งแวดล้อม
                                        สาขาวิชาวิทยาศาสตร์พื้นฐานและพลศึกษา และสาขาวิชาวิทยาการคอมพิวเตอร์ </br>
                                       
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</html>